@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comfortaa:wght@300..700&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.app {
    min-height: 100vh;
    color: white;
    background: linear-gradient(#2c2a6c, #4568dc, #b06ab3);
}